<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <button mat-raised-button [routerLink]="['/']" color="accent">Home</button>
  <button mat-raised-button [routerLink]="['/about']" color="primary">About Us</button>
  <button mat-raised-button [matMenuTriggerFor]="menu" color="accent">Contact</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  [routerLink]="['/contact']">Phone</button>
    <button mat-menu-item>Email</button>
    <button mat-menu-item>Email</button>
    <button mat-menu-item>Email</button>
    <button mat-menu-item>Email</button>
    <button mat-menu-item>Email</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
